.Navigation {
  max-width: 300px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25); 
  height: 100%;
  overflow: hidden;
}

.Navigation-Item {
  display: flex;
  width: 100%;
  position: relative;
}

.Navigation-Item_active::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  right: -23px;
  top: 0;
  background-color: #4F27BF;
  border-radius: 5px;
}

.Navigation_subNav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  > svg {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
  }

  &_active > svg {
    transform: rotate(0);
    transition: transform .3s ease-in-out;
    
  }
}

.Navigation-ShowOrHideMenu {
  display: none;
}

@media (max-width: 768px) {
  .Navigation {
    position: absolute;
    left: -1000px;
    transition: .3s ease-in-out;
    z-index: 100;
    background: #fff;
  }

  .Navigation-ShowOrHideMenu {
    display: block;
    position: relative;
    z-index: 1000;
  }

  .Navigation_active {
    left: 0;
    transition: .3s ease-in-out;
  }
}
