// colors
$blue: rgb(59 59 245);
$lightblue: rgb(239 249 255);
$brown: rgb(228 209 190);
$lightbrown: rgb(253 241 230);
$purple: rgb(197 60 146);
$violet: rgb(146, 61, 254);
$crimson: rgb(216 9 71);
$red: rgb(255 65 54);
$orange: rgb(255 163 36);
$yellow: rgb(255 222 0);
$lime: rgb(14 192 92);
$green: rgb(79 190 12);
$darkgreen: rgb(65 151 72);
$teal: rgb(39 167 153);
$black: rgb(0 0 0);
$gray: rgb(184 184 184);
$darkgray: rgb(79 79 79);
$lightgray: rgb(119 119 119);
$silver: rgb(206 206 206);
$gainsboro: rgb(242 243 242);
$white: rgb(255 255 255);
$stocks: rgb(177 88 167);
$bonds: rgb(86 205 218);
$alternatives: rgb(253 192 50);
$cash: rgb(155 183 227);
$freetrade: rgb(247 97 139);
$hargreaves: rgb(7, 29, 73);
$primary-action:     rgb(25 43 194);
$primary-default:    rgb(59 59 245);
$primary-disabled:   rgb(39 97 232 / 45%);
$primary-surface-85: rgb(39 97 232 / 85%);
$primary-surface-65: rgb(39 97 232 / 65%);
$primary-surface-45: rgb(39 97 232 / 45%);
$primary-surface-25: rgb(39 97 232 / 25%);
$primary-surface-10: rgb(39 97 232 / 10%);
$primary-surface-5:  rgb(39 97 232 /  5%);
$secondary-action: rgb(59 137 11);
$secondary-default: rgb(79 190 12);
$secondary-disabled: rgb(79 190 12 / 45%);
$secondary-surface-45: rgb(79 190 12 / 45%);
$secondary-surface-25: rgb(79 190 12 / 25%);
$secondary-surface-10: rgb(79 190 12 / 10%);
$background-default: rgb(255 255 255);
$background-overlay: rgb(244 244 244 / 85%);
$background-muted: rgb(244 244 244 / 85%);
$background-minor: rgb(0 0 0 / 5%);
$background-border: rgb(0 0 0 / 10%);
$background-cover: rgba(68 122 202 / 5%);
$content-on-background-default: rgb(0 0 0 / 90%);
$content-on-background-additional: rgb(0 0 0 / 65%);
$content-on-background-minor: rgb(0 0 0 / 45%);
$content-on-background-muted: rgb(0 0 0 / 25%);
$content-on-color-default: rgb(255 255 255 / 90%);
$content-on-color-default-85: rgb(255 255 255 / 85%);
$content-on-color-additional: rgb(255 255 255 / 65%);
$content-on-color-minor: rgb(255 255 255 / 45%);
$content-on-color-muted: rgb(255 255 255 / 25%);
$status-error: rgb(255 65 54);
$status-error-65: rgb(255 65 54 / 65%);
$status-error-25: rgb(255 65 54 / 25%);
$status-error-10: rgb(255 65 54 / 10%);
$status-success: rgb(79 190 12);
$status-success-65: rgb(79 190 12 / 65%);
$status-success-45: rgb(79 190 12 / 45%);
$status-success-25: rgb(79 190 12 / 25%);
$status-warning: rgb(255 163 36);
$status-warning-65: rgb(255 163 36 / 65%);
$status-warning-25: rgb(255 163 36 / 25%);
$shadow-level-2: 0  1px  8px rgb(0 0 0 / 18%);
$shadow-level-3: 0  3px 16px rgb(0 0 0 / 10%);
$shadow-level-4: 0 11px 32px rgb(0 0 0 / 10%);
$shadow-level-5: 0 15px 40px rgb(0 0 0 / 12%);

// animations
$swift: cubic-bezier(0.55, 0, 0.1, 1);
